<form id="add-remove" autocomplete="off" onsubmit="event.preventDefault();">
        <h3 class="add-msg">{{msg}}</h2>
        <p>&nbsp;</p>
        <div class='flexrow'>    
                <button class='enhance-submit' id="submit" type="submit" ><i class="fas fa-check"></i> Confirm</button>
                <button class='enhance-reset'  id="reset" type="submit"><i class="fas fa-clipboard"></i>Reset</button>
        </div>
        
</form>
