@import url('https://fonts.cdnfonts.com/css/olde-english');
@import url('https://fonts.cdnfonts.com/css/nothing-you-could-do');
                
.inputCont>table>tbody>tr>td, .selection>tbody>tr>td, .customCost>tbody>tr>td {
    margin: 0px;
    padding: 0px;
    position: relative;
    font-size: 1.1em;
}
.updown {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: relative;
}
.downup {
    padding: 0px;
    margin: 0px;
    position: relative;
    display: inline-block;
}
.downup td:nth-child(3n+2) {
    width: 50px;
}
.updownCont {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 16px;
    height: 30px;
    top: 0px;
    left: 0px;
}
.up {
    position: absolute;
    height: 16px;
    width: 16px;
    margin: 0px;
    top: 0px;
    left: 0px;
    border-style: outset;
    border-width: 2px;
    background-color: #333d4d;
    padding: 0px;
    background-position: center;
    background: url('images/uparrow.png') no-repeat;
  	background-size: contain;
}
.down {
    position: absolute;
    height: 16px;
    width: 16px;
    margin: 0px;
    top: 17px;
    left: 0px;
    border-style: outset;
    border-width: 2px;
    background-color: #333d4d;
    padding: 0px;
    background-position: center;
    background: url('images/downarrow.png') no-repeat;
    background-size: contain;
}
button.up, button.down {
    background-color: black;
}
button.apply_stats {
    height: 29px;
    width: 88px;
}
.tutorial.sheet .tut-head  {
    padding: 5px 5px
}    
.tutorial.sheet {
    width: 98%;
    padding: 10px 11px 20px 10px;
}
.tutorial.sheet .sheet-navigation  {
    padding-bottom: 2px;
    padding-top: 8px;
}
.tutorial.sheet .sheet-navigation a {
    padding: 5px 7px;
}
.tutorialx.sheet h1 {
    width: 520px
}
.app.tutorial {
    line-height: 24px;
    max-height: 100%;
    background: none;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--color-shadow-dark);
    margin: 3px 0;
    padding: 0.5em;
    color: black;
    z-index: var(--z-index-app);
    transform-origin: top left;
    height: 94%;
}
.app.tutorial .header-section {
    max-height: 100%;
    background: dimgray;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--color-shadow-dark);
    margin: 3px 0;
    padding: 0.5em;
    color: var(--color-text-light-highlight);
    z-index: var(--z-index-app);
    transform-origin: top left;
}
.app.tutorial section.sheet-content {
    margin-top: 25px;
}
.app.tutorial button.button.page.but {
    width: 191px;
    height: 50px;
}
.choice-set-prompt a.help-link{
    background: #DDD;
    padding: 1px 4px;
    color: black;
    border: none;
    line-height: 0;
}
.choice-set-prompt a.help-link i{
    color: black;
}
.creation-tutorial .window-content strong.remaining.extra {
    animation: glow 0.5s infinite alternate;
}
.creation-tutorial .window-content strong.remaining {
    margin-right: 10px;
    margin-left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(68, 55, 48, 0.1);
    align-items: center;
    text-align: center;
    padding: 10px;
}
.creation-tutorial .window-content .extra {
    align-items: center;
    font-size: var(--font-size-12);
    margin-top: -0.25rem;
}
.creation-tutorial .window-content .tut-small-but{
    padding: 10px;
    background: transparent;
    border-radius: 2px 2px 0 0;
    border: 1px solid var(--color-border-divider);
    color: var(--primary);
    cursor: pointer;
    font-family: var(--sans-serif);
    font-size: var(--font-size-12);
    font-weight: 500;
    height: 20px;
    margin: 0;
    outline: none;
    text-transform: uppercase;
    width: auto;
}
.creation-tutorial .window-content .tag_secondary {
    box-sizing: border-box;
    border-radius: 0;
    letter-spacing: 0.05em;
    text-rendering: optimizeLegibility;
    border-radius: 2px;
    font-weight: 500;
    min-height: 1.5em;
}
.creation-tutorial .window-content .tag_secondary svg {
    background-color: black;
    color: white;
    height: 17px;
    width: auto;
}
.creation-tutorial .window-content .untrained {
    background-color: grey;
    color: white;
    padding: 1px 9px;
    border: 1px solid grey;
}
.creation-tutorial .window-content .trained {
    background-color: darkblue;
    color: white;
    padding: 1px 16px;
    border: 1px solid darkblue;
}
.creation-tutorial .window-content .accent {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 5px;
}

.character .window-content .sheet-content div.remaining.extra {
    animation: glow 0.5s infinite alternate;
}
.character .window-content .sheet-content div.remaining {
    grid-area: remaining;
    display: flex;
    margin-right: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(68, 55, 48, 0.1);
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -21px;
}
.character .window-content .sheet-content .extra {
    display: flex;
    align-items: center;
    font-size: var(--font-size-12);
    margin-top: -0.25rem;
}
.character .window-content .sheet-content .errTags .tag {
    padding: 9px 0px 8px 10px !important;
}
.character .window-content .sheet-content .errTags {
    margin: 3px 0px 3px -4px !important;
}
.proficiencies .remaining.extra {
    align-self: flex-end !important;
    margin-top: -30px !important;
}
.character .window-content .sheet-content .proficiencies div.remaining{
    margin-right: 39px;
    margin-bottom: 16px;
    padding: 5px;
}
.errRemaining {
    grid-area: errRemaining;
    display: flex;
    width: 260px;
    height: 26px;
    background: var(--primary);
    align-self: flex-end;
    align-items: center;
    justify-content: right;
    text-align: right;
    color: white;
    padding: 10px 11px 10px 0px;
    margin: -32px 0 8px 0;
}
a.show-video {
    text-align: right;
    padding-right: 19px;
    padding-bottom: 21px;
    background: transparent;
    border: none;
    
}
a.show-video i{
    color: black;
}
div.pc span h3.highlight, button.highlight{
    animation: glow 0.5s infinite alternate;
}
div.subsection{
    display: none;
}
span.complete {
    color: white;
    padding: 5px 10px;
    background-color: var(--secondary);
    margin: 0px 10px;
}
span.glowing {
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    animation: glow 0.5s infinite alternate;
    margin: 0px 10px;
}